
.menucard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.menucard li {
    width: 100%;
    list-style: none;
}

p {
    text-align: center;
}

.menucard img {
    text-align: center;
}