
.part_two h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding-top: 100px;
}

.breakfast_card {
    margin: 1rem auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
    text-align: center;
}

.breakfast_card li {
    width: 100%;
}

img {
    width: 90%;
}