body ul li {
    list-style-type: none;
}

/*navigation (left list)*/



.first_nav {
    border: 1px black solid;
    border-radius: 3px;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.first_nav p {
    font-weight: 800;
}

.navigation {
    flex: 1;
}

.navigation img {
    width: 50px;
}

.main_all_nav {
    width: 100%;
    border: 1px solid;
    border-radius: 3px;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    /* margin-top: -30px; */
}

.main_all_nav img {
    margin-top: -20px;
}

/* .all_nav {
    border-left: 1px black solid;
    border-right: 1px black solid;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    margin-top: -25px;
}

.all_nav p {
    flex: 1;
}

.all_nav img {
    flex: 1;
} */

/* .all_nav_first {
    border-top: 1px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
} */
/* 
.all_nav_first p {
    flex: 1;
} */
/* 
.all_nav_first img {
    flex: 1;
} */

/* .all_nav_last {
    border-bottom: 1px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    margin-top: -25px;
} */

/* .all_nav_last p {
    flex: 1;
}

.all_nav_last img {
    flex: 1;
} */

/*menu-list (right list)*/

.main_container {
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 4rem;
}

.menu_list {
    flex: 3;
    /* width: 20%; */

}

.menu_list li {
    width: 30%;
}

.menu_list img {
    width: 180px;
}


.menu_list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu_list h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 900;
}

.menu_list h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.menu_list p {
    text-align: center;
}